node_modules
**/node_modules
yarn.lock
dist
_book
/**/_book
./db/*
db
www
packages/ims-xminder/
libs/js-libp2p
libs/js-libp2p
yarn-error.log
.fir
.ipfs
.ipfs1
.ipfs2
packages/aaa
**/*.js
**/*.DS_Store
